

  <!---->
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
    </button>
    <ul class="dropdown-menu">
        <table class="table table-bordered" style="color: white; width: 300px;">
            <thead>
                <tr>        
                    <th colspan="3" class="text-center">        
                        Carro compras        
                    </th>        
                </tr>        
                <tr>        
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Costo</th>        
                </tr>      
            </thead>
            <tbody>
                {% if request.session.carro.items %}

                    {% for key, value in request.session.carro.items %}

                        <tr class="text-center">
                            <td>{{value.nombre}}</td>
                            <td>{{value.cantidad}}</td>
                            <td> 
                                <a href="{% url 'carro:agregar' value.producto_id %}" class="btn btn-sm btn-success">+</a>
                                <a href="#" class="btn btn-sm btn-success">-</a>
                                <br/>
                                aqui va: {{value.producto_id}} $
                            </td>
                        </tr>

                    {% endfor %}
                    
                {% else %}
                    <tr>
                        <td colspan="3">
                            <div class="alert alert-danger text-center">        
                                Sin productos        
                            </div>        
                        </td>        
                    </tr>      
                {% endif %}

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        Total: {{importe_total_carro}}$
                    </td>
                </tr>        
            </tfoot>   
        </table>
    </ul>
  </div>
